<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h3>Contact form</h3>
        <p>Add a person by fill in the form and click the submit button</p>
    </div>
    <form id="contact-form" class="center" action="/done" method="post" enctype="multipart/form-data">
        <div class="row">
            <label for="name">Your firstname:</label><br>
            <input class="name" name="firstname" type="text" value="" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Your lastname:</label><br>
            <input class="name" name="lastname" type="text" value="" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Your ssn:</label><br>
            <input class="name" name="ssn" type="text" value="" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Your email:</label><br>
            <input class="name" name="email" type="text" value="" size="30" /><br>
        </div>
                <div class="row">
            <label for="name">Your address:</label><br>
            <input id="name" class="input" name="address" type="text" value="" size="30" />
        </div>
        <br>
        <input id="submit_button" type="submit" value="Submit"/>
    </form>
</body>
</html>