<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<body>
    <div id="header">
        WONKIPEDIA
        <span>List of articles</span>
        <input type="button" onclick="location.href='/add';" value="Add new article" />
    </div>
    <ul>
        {% for article in articles %}
            <li>
                <input type="button" onclick="location.href='/article/{{ article.title }}';" value="Read" />
                <input type="button" onclick="location.href='/edit/{{ article.title }}';" value="Edit" />
                <input type="button" onclick="location.href='/article/{{ article.title }}';" value="Delete" />
                &ensp;<span> {{ article.title }}, {{ article.author }} </span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>