<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Add article</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header">
        WONKIPEDIA
        <span>Article stored</span>
    </div>
    <form id="article-form" class="center" action="/edited" method="post" enctype="multipart/form-data">
        <div class="row">
            <label for="name">Author</label><br>
            <input class="name" name="author" type="text" value="{{ article.author }}" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Article title</label><br>
            <input class="name" name="title" type="text" readonly="readonly" value="{{ article.title }}" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Article text</label><br>
            <textarea class="name" name="article" type="text" cols="60" rows="20">{{ article.article }}</textarea>
        </div>
        <br>
        <input id="submit_button" type="submit" value="Submit"/>
    </form>
</body>
</html>