<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header">
        WONKIPEDIA
        <span>Article from the Wonkipedia archive</span>
    </div>
    <div class="center">
        <h1>{{ article.title }}</h1>
        <h4>Author: {{ article.author }}</h4>
        <h4>Created: {{ article.created }}</h4>
        <h4>Edited: {{ article.edited }}</h4>
        <h4>Revision: {{ article.revision }}</h4>
        <p>{{article.text }}</p>
    </div>

</body>
</html>