<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Contact form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h3>Wiqipedia</h3>
        <p>Create a article by filling in the form and then submitting by the submit button {{ edit }}.</p>
    </div>
    <h1>{{ article.title }}<h1>
    <h4>By {{ article.author }}</h4>
    <p>{{ article.article }}</p>
    <!--<form id="article-form" class="center" action="/done" method="post" enctype="multipart/form-data">
        <div class="row">
            <label for="name">Author</label><br>
            <input class="name" name="author" type="text" value="{{ article.author }}" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Article title</label><br>
            <input class="name" name="title" type="text" value="{{ article.title }}" size="30" /><br>
        </div>
        <div class="row">
            <label for="name">Article text</label><br>
            <textarea class="name" name="article" type="text" cols="60" rows="20">{{ article.title }}</textarea>
        </div>
        <br>
        <input id="submit_button" type="submit" value="Submit"/>-->
    </form>
</body>
</html>